- name: Install helm snap package
  community.general.snap:
    classic: yes
    name: helm
    channel: latest/edge

- name: Install Helm Diff
  kubernetes.core.helm_plugin:
    state: present
    plugin_path: https://github.com/databus23/helm-diff
  become_user: "{{admin_user}}"
